html, body, #container {
	width: 100%;
	height: 100%;
}
#container {
	background: url(../images/bg.jpg) repeat-x;
	overflow: hidden;
}


#logoImg {
	margin: 0 auto;
	padding: 0;
	width: 600px;
	height: 65px;
	z-index:1;
}
#chalkboardAndOthers {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
#chalkboard {
	position: relative;
	width: 780px;
	height: 540px;
	padding-top: 20px;
}
#canvas {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#shuji {
	position: absolute;
	top: 0;
	right: -180px;
}
#clock, #clock-hands{
	position: absolute;
	top: -40px;
	left: -150px;
}
#paper_pk {
	position: absolute;
	top: 300px;
	right: -150px;
}
#global_map {
	position: absolute;
	top: 300px;
	left: -340px;
}
#protoractor {
	position: absolute;
	top: 540px;
	left: 0;
}
#colorPalette {
	position: absolute;
	top: 485px;
	left: 20px;
	list-style: none;
	width: 500px;
	height: 20px;
}

#colorPalette .color {
	display: inline-block;
	width: 80px;
	height: 20px;
	float: left;
	margin-right: 20px;
}

#colorPallet .color:hover {
	cursor: pointer;
}
#colorPalette .color[data-color='white'] {
	background: url(../images/chalk_wh.jpg) no-repeat left bottom;
}
#colorPalette .color[data-color='yellow'] {
	background: url(../images/chalk_yl.jpg) no-repeat left bottom;
}
#colorPalette .color[data-color='green'] {
	background: url(../images/chalk_gr.jpg) no-repeat left bottom;
}
#colorPalette .color[data-color='blue'] {
	background: url(../images/chalk_bl.jpg) no-repeat left bottom;
}
#colorPalette .color[data-color='pink'] {
	background: url(../images/chalk_pk.jpg) no-repeat left bottom;
}
#eraser {
	position: absolute;
	top: 472px;
	left: 600px;
	width: 104px;
	height: 47px;
	background: url(../images/eraser.jpg) no-repeat;
}
.userPointer {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid gray;
	border-radius: 4px;
	opacity: .5;
}
@font-face {
    font-family: 'EraserRegular';
    src: url('fonts/EraserRegular-webfont.eot');
    src: url('fonts/EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/EraserRegular-webfont.woff') format('woff'),
         url('fonts/EraserRegular-webfont.ttf') format('truetype'),
         url('fonts/EraserRegular-webfont.svg#EraserRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#loadingMessage {
	color: white;
	opacity: .8;
	text-align: center;
	margin-top: 20px;
	font: 30px 'EraserRegular', Arial, sans-serif;
	letter-spacing: 0;
}
#monthOnBoard, #dateOnBoard {
	font: 40px 'EraserRegular', Arial, sans-serif;
	color: white;
	width: 40px;
	position: absolute;
	right: 24px;
	opacity: .9;
}
#monthOnBoard {
	top: 50px;
}
#dateOnBoard {
	top: 140px;
}

#descriptionOfThisExample {
	width: 600px;
	height: 400px;
	position: absolute;
	top: 200px;
	height: 400px;
	background-color: white;
	border-radius: 8px;
	z-index: 1000;
	padding: 16px;
	display: none;
	box-shadow: 2px 2px 10px gray;
	font-size: 14px;
}
.contentOfDescription {
	color: dimgray;
}
#descriptionOfThisExample p {
	margin: 8px 0;
}
#descriptionOfThisExample h1 {
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid gray;
}
#usedFeatures {
	font-weight: bold;
	list-style: square !important;
}
#usedFeatures li {
	margin: 8px 0;
}
#closeDescriptionButton {
	position: absolute;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

#veil {
	width: 100%;
	height: 100%;
	background-color: white;
	position:absolute;
	top: 0;
	left: 0;
	opacity: .5;
	display: none;
	z-index: 100;
}

@-webkit-keyframes bounceInDown {
	0% {opacity: 0;
	-webkit-transform: translateY(-100px);}
	30% {opacity: 1;
	-webkit-transform: translateY(10px) rotate(-3deg);}
	50% {-webkit-transform: translateY(-25px);}
	70% {-webkit-transform: translateY(0) rotate(7deg);}
	90% {-webkit-transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0);}
}


@-moz-keyframes bounceInDown {
	0% {opacity: 0;
	-moz-transform: translateY(-100px);}
	30% {opacity: 1;
	-moz-transform: translateY(10px) rotate(-3deg);}
	50% {-moz-transform: translateY(-25px);}
	70% {-moz-transform: translateY(0) rotate(7deg);}
	90% {-moz-transform: translateY(-10px);}
	100% {-moz-transform: translateY(0);}
}

@-ms-keyframes bounceInDown {
	0% {opacity: 0;
	-ms-transform: translateY(-100px);}
	30% {opacity: 1;
	-ms-transform: translateY(10px) rotate(-3deg);}
	50% {-ms-transform: translateY(-25px);}
	70% {-ms-transform: translateY(0) rotate(7deg);}
	90% {-ms-transform: translateY(-10px);}
	100% {-ms-transform: translateY(0);}
}

@-o-keyframes bounceInDown {
	0% {opacity: 0;
	-o-transform: translateY(-100px);}
	30% {opacity: 1;
	-o-transform: translateY(10px) rotate(-3deg);}
	50% {-o-transform: translateY(-25px);}
	70% {-o-transform: translateY(0) rotate(7deg);}
	90% {-o-transform: translateY(-10px);}
	100% {-o-transform: translateY(0);}
}

@keyframes bounceInDown {
	0% {opacity: 0;
	transform: translateY(-100px);}
	30% {opacity: 1;
	transform: translateY(10px) rotate(-3deg);}
	50% {transform: translateY(-25px);}
	70% {transform: translateY(0) rotate(7deg);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-ms-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;

	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-ms-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;

     -webkit-animation-iteration-count: once;
     -moz-animation-iteration-count: once;
     -ms-animation-iteration-count: once;
     -o-animation-iteration-count: once;
     animation-iteration-count: once;

     -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
     -ms-animation-duration: 1s;
     -o-animation-duration: 1s;
     animation-duration: 1s;

}


@-webkit-keyframes bounceInDown2 {
	0% {opacity: 0;
	-webkit-transform: translateY(-300px);}
	30% {opacity: 1;
	-webkit-transform: translateY(7px) rotate(-3deg);}
	50% {-webkit-transform: translateY(-25px);}
	70% {-webkit-transform: translateY(0);}
	90% {-webkit-transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes bounceInDown2 {
	0% {opacity: 0;
	-moz-transform: translateY(-300px);}
	30% {opacity: 1;
	-moz-transform: translateY(7px) rotate(-3deg);}
	50% {-moz-transform: translateY(-25px);}
	70% {-moz-transform: translateY(0);}
	90% {-moz-transform: translateY(-10px);}
	100% {-moz-transform: translateY(0);}
}

@-ms-keyframes bounceInDown2 {
	0% {opacity: 0;
	-ms-transform: translateY(-300px);}
	30% {opacity: 1;
	-ms-transform: translateY(7px) rotate(-3deg);}
	50% {-ms-transform: translateY(-25px);}
	70% {-ms-transform: translateY(0);}
	90% {-ms-transform: translateY(-10px);}
	100% {-ms-transform: translateY(0);}
}

@-o-keyframes bounceInDown2 {
	0% {opacity: 0;
	-o-transform: translateY(-300px);}
	30% {opacity: 1;
	-o-transform: translateY(7px) rotate(-3deg);}
	50% {-o-transform: translateY(-25px);}
	70% {-o-transform: translateY(0);}
	90% {-o-transform: translateY(-10px);}
	100% {-o-transform: translateY(0);}
}

@keyframes bounceInDown2 {
	0% {opacity: 0;
	transform: translateY(-300px);}
	30% {opacity: 1;
	transform: translateY(7px) rotate(-3deg);}
	50% {transform: translateY(-25px);}
	70% {transform: translateY(0);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}


.bounceInDown2 {
	-webkit-animation-name: bounceInDown2;
	-moz-animation-name: bounceInDown2;
	-ms-animation-name: bounceInDown2;
	-o-animation-name: bounceInDown2;
	animation-name: bounceInDown2;

	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-ms-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;

     -webkit-animation-iteration-count: once;
     -moz-animation-iteration-count: once;
     -ms-animation-iteration-count: once;
     -o-animation-iteration-count: once;
     animation-iteration-count: once;

     -webkit-animation-duration: 1.3s;
     -moz-animation-duration: 1.3s;
     -ms-animation-duration: 1.3s;
     -o-animation-duration: 1.3s;
     animation-duration: 1.3s;

}


@-webkit-keyframes bounceInDown3 {
	0% {opacity: 0;
	-webkit-transform: translateY(-100px);}
	50% {opacity: 1;
	-webkit-transform: translateY(7px) rotate(7deg);}
	60% {-webkit-transform: translateY(-15px);}
	80% {-webkit-transform: translateY(0) rotate(-4deg);}
	95% {-webkit-transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes bounceInDown3 {
	0% {opacity: 0;
	-moz-transform: translateY(-100px);}
	50% {opacity: 1;
	-moz-transform: translateY(7px) rotate(7deg);}
	60% {-moz-transform: translateY(-15px);}
	80% {-moz-transform: translateY(2px) rotate(-4deg);}
	95% {-moz-transform: translateY(-10px);}
	100% {-moz-transform: translateY(0);}
}

@-ms-keyframes bounceInDown3 {
	0% {opacity: 0;
	-ms-transform: translateY(-100px);}
	50% {opacity: 1;
	-ms-transform: translateY(7px) rotate(7deg);}
	60% {-ms-transform: translateY(-15px);}
	80% {-ms-transform: translateY(0) rotate(-4deg);}
	95% {-ms-transform: translateY(-10px);}
	100% {-ms-transform: translateY(0);}
}

@-o-keyframes bounceInDown3 {
	0% {opacity: 0;
	-o-transform: translateY(-100px);}
	50% {opacity: 1;
	-o-transform: translateY(7px) rotate(7deg);}
	60% {-o-transform: translateY(-15px);}
	80% {-o-transform: translateY(0) rotate(-4deg);}
	95% {-o-transform: translateY(-10px);}
	100% {-o-transform: translateY(0);}
}

@keyframes bounceInDown3 {
	0% {opacity: 0;
	transform: translateY(-100px);}
	50% {opacity: 1;
	transform: translateY(7px) rotate(7deg);}
	60% {transform: translateY(-15px);}
	80% {transform: translateY(0) rotate(-4deg);}
	95% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}


.bounceInDown3 {
	-webkit-animation-name: bounceInDown3;
	-moz-animation-name: bounceInDown3;
	-ms-animation-name: bounceInDown3;
	-o-animation-name: bounceInDown3;
	animation-name: bounceInDown3;

	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-ms-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;

     -webkit-animation-iteration-count: once;
     -moz-animation-iteration-count: once;
     -ms-animation-iteration-count: once;
     -o-animation-iteration-count: once;
     animation-iteration-count: once;

     -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
     -ms-animation-duration: 1.5s;
     -o-animation-duration: 1.5s;
     animation-duration: 1.5s;
}

#aboutThisExample {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, .6);
	right: 0;
	bottom: -50px;
	height: 20px;
	font-weight: bold;
	border: 1px solid gray;
	border-radius: 8px 0 0 0/8px 0 0 0;
	box-shadow: 4px 4px 10px black;
	padding: 6px 20px;
	cursor: pointer;
	-webkit-transition: bottom 1s linear;
	transition: bottom 1s linear;
	text-decoration: underline;
}
#aboutThisExample.visible {
	bottom: 0;
}
.fadeIn{
	display: none;
}
